@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}


.prose-base :where(h3):not(:where([class~="not-prose"] *)) {
  /* font-size: 1.25em; */
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  line-height: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:where(.css-dev-only-do-not-override-zjzpde).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}



.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  height: 100%;
  width: 100%;
  /* border: 1px solid gray; */
  background-color: rgb(59, 16, 133);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
}

/* --- (4) Leaflet container with map dimensions (other properties optional) --- */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.leaflet-bottom.leaflet-right {
  display: none !important;
}

.activities2 {
  display: none !important;
}

.full-1 {
  display: flex;
}

.full-2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .wrapper-80 {
    width: 90% !important;
  }

  .wrapper-100 {
    width: 100%;
  }

  .login-card-wrapper {
    width: 100%;
  }

  .full-logo {
    display: none;
  }

  .nav-email {
    display: none;
  }

  .controls-tab {
    flex-direction: column;
  }

  .view-full-content {
    align-self: flex-start;
  }

  .view-full-btn {
    margin-top: 15px;
    align-self: flex-start;
  }

  .main-content {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 0 !important;
  }

  .sa-main-content {
    display: flex;
    flex-direction: column !important;
    gap: 30px 0;
  }

  .full-map {
    height: 400px;
    margin-bottom: 30px;
  }

  .wrapper-97 {
    width: 95%;
  }

  .activities {
    display: none;
  }

  .activities2 {
    display: flex !important;
  }

  .dir-col {
    display: flex !important;
    flex-direction: column !important;
  }

  .filters-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .head-content {
    flex-direction: column;
  }

  .full-1 {
    display: none;
  }

  .full-2 {
    display: flex;
  }
}